@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    No Contact Here<br />
    No Street<br />
    <abbr title="Phone">P:</abbr>
    No Phone
</address>

<address>
    <strong>No Support:</strong>   <a href="">no Mail</a><br />

</address>