@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GitRepoToJson & TagManuel</h1>
    <p class="lead">Use the GitHub Api to Fetch data about Repos and save them to Json Files</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Training</h2>
        <p>
            Need More Training Data? 
        </p>
        <p><a class="btn btn-default" href= "Home/Get">GetRepos</a></p>
    </div>
    <div class="col-md-4">
        <h2>Solution</h2>
        <p>
            Need Solution Data?
        </p>
        <p><a class="btn btn-default" href="Home/GetTag">GetTagRepos</a></p>
    </div>
</div>